@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Yu Gothic', sans-serif;
	color: #f4eeff;
	background: #171b3b;
}

main {
	display: block;
	text-align: center;
	max-width: 512px;
	margin: 0 auto;
	padding: 0px 16px;
}

h1 {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 2.5em;
	font-weight: normal;
}

#avatar {
	display: block;
	margin: 64px auto 32px auto;
	max-width: 128px;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #8388b1;
}

#bio {
	display: block;
	margin: 0;
	padding: 1em;
}

#links {
	display: block;
	margin: 64px 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
	#links li {
		display: inline-block;
		margin: 0 8px;
		padding: 0;
		font-size: 1rem;
	}
		#links li a {
			display: inline-block;
			margin: 0;
			padding: 0;
			font-size: 1.5em;
			color: #f4eeff;
			border: solid 1px #f4eeff;
			border-radius: 50%;
			transition: all 0.2s ease;
		}
		#links li a:hover {
			background: #f4eeff;
			color: #171b3b;
		}
			#links li a i {
				display: inline-block;
				width: 2em;
				line-height: 2em;
				text-align: center;
			}